@charset "utf-8";
#ENCABEZADO {
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-style: normal;
	font-weight: normal;
	background-color: #FFCB18;
	height: 40px;
	width: 300px;
	top: 24px;
	right: 330px;
	left: 330px;
	text-align: center;
	line-height: 35px;
}.boton {
	width: 139.2px;
	height: 34.2px;
	color: #000000;
	text-align: center;
	text-shadow: 0px 0px;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	background-color: #29A2C6;
	text-indent: 0px;
	line-height: 0px;
	top: 0px;
	margin-left: 220px;
	margin-top: 0px;
	bottom: 0px;
	border-radius: 15px;
}
.boton2 {
	width: 139.2px;
	height: 36.2px;
	top: 0px;
	color: #000000;
	line-height: 0px;
	text-align: center;
	background-color: #E6E7E8;
	font-size: 14px;
	min-height: 0px;
	min-width: 0px;
	margin-left: 10%;
	border-radius: 15px;
	margin-right: 0%;
	margin-top: 0px;
	margin-bottom: 0px;
}
